# This file contains pin mappings for the LDO Nitehawk-SB V2 Toolboard
# Make sure to include this config *at the end* of printer.cfg to overwrite the relevent sections

# See http://docs.ldomotors.com/toolboard/nitehawk-sbv2#firmware-setup-and-update
# For instructions on uploading/updating klipper firmware to the onboard MCU

# Klipper make menuconfig options:
# Processor model: STM32G0B1
# Bootloader offset (for Katapult): 8KiB bootloader
# Clock Reference: 12Mhz crystal
# Communication interface: USB (on PA11/PA12)


## LDO Nitehawk-SB V2 Toolboard Partial Config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Endstop pins to enable or disable    [stepper_x] and [stepper_y] sections
## Extruder motor current               [tmc2209 extruder] section
## Chamber thermistor type              [temperature_sensor chamber_temp] section

## *MAKE SURE* to include this partial config file *AFTER* the main controller config. 
## This will ensure the relavent sections are overwritten by the picobilical mappings specified here.

[include stealthburner_leds.cfg]

[mcu nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1F004E000351353032333039-if00
restart_method: command
##--------------------------------------------------------------------

#####################################################################
#   Endstops
#####################################################################

## XES - Toolhead PCB
[stepper_x]
endstop_pin: nhk:PB0

#####################################################################
# 	Extruder
#####################################################################
[extruder]
step_pin: nhk:PB8
dir_pin: nhk:PB9
enable_pin: !nhk:PC14
heater_pin: nhk:PA7
sensor_pin: nhk:PB12
pullup_resistor: 2200
microsteps: 32
rotation_distance: 22.766491851246
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: ATC Semitec 104NT-4-R025H42G
min_temp: 0
max_temp: 270
min_extrude_temp: 160
max_extrude_only_distance: 150
pressure_advance: 0.06
max_extrude_cross_section: 5

[firmware_retraction]
retract_length: 0.4
retract_speed: 25
unretract_speed: 20
unretract_extra_length: 0.02

[tmc2209 extruder]
sense_resistor: 0.100
uart_pin: nhk:PB7
tx_pin: nhk:PB6
#diag_pin: nhk:PC13
interpolate: false
run_current: 0.5     #recommend setting below 0.7A.
stealthchop_threshold: 999999


#####################################################################
#   Fans
#####################################################################
## PCF
[fan]
pin: nhk:PA15
kick_start_time: 0.5
#tachometer_pin: nhk:PD2
#tachometer_ppr: 2

## HEF
[heater_fan hotend_fan]
pin: nhk:PD0
heater: extruder
heater_temp: 50.0
max_power: 1.0
kick_start_time: 0.5
#tachometer_pin: nhk:PD1
#tachometer_ppr: 2


#####################################################################
# 	Probe
#####################################################################
## Probe Port
[probe]
pin: !nhk:PC15
x_offset: 0
y_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.004
samples_tolerance_retries: 5
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#####################################################################
#   Lights
#####################################################################
##Stealthburner Headlights
[neopixel sb_leds]
pin: nhk:PD3
# chain_count: 3
# color_order: GRBW
# initial_RED: 0.0
# initial_GREEN: 0.0
# initial_BLUE: 1.0
# initial_WHITE: 0.0

## PCB Activity Light
[output_pin act_led]
pin: nhk:PC6

#####################################################################
#   Accelerometer
#####################################################################
[adxl345]
cs_pin: nhk:PB10
spi_software_sclk_pin: nhk:PA5
spi_software_mosi_pin: nhk:PA2
spi_software_miso_pin: nhk:PA6

[resonance_tester]
accel_chip: adxl345
accel_per_hz: 100
sweeping_accel: 400
sweeping_period: 0
probe_points:
   155, 155, 20



#####################################################################
#   Thermistors
# #####################################################################
# [temperature_sensor chamber_temp]
# sensor_type: PT1000
# sensor_pin: nhk:gpio28
# min_temp: 0
# max_temp: 100
# gcode_id: chamber_th

[temperature_sensor nh_temp]
sensor_type: temperature_mcu
sensor_mcu: nhk
min_temp: 0
max_temp: 105
gcode_id: nh_th

#####################################################################
#   I2C port
#####################################################################
#i2c_software_scl_pin: nhk:PB3
#i2c_software_sda_pin: nhk:PB4